<title>简家体验馆-简家家居生活</title>
<include file="Common:head" />
<style type="text/css">
	.row {
		margin-left: 0;
	}
</style>
<div class="map">
	<div class="container">
		<div class="row section-one">
			<img src="__IMG__/map/map01.jpg" class="img-responsive"/>
			<p>简家在21个省34个市设立了超过50家线下体验馆，欢迎体验。<br />
			在未来，简家将逐步把体验馆建设成家居城，并完善网上商城，敬请期待！</p>
		</div>
		<div class="row section-two">
		  <div class="col-xs-12 col-md-4">
		      <img data-original="__IMG__/map/map03.jpg" alt="..." class="img-responsive">
		  </div>
		  <div class="col-xs-12 col-md-4">
		      <img data-original="__IMG__/map/map04.jpg" alt="..." class="img-responsive">
		  </div>
		  <div class="col-xs-12 col-md-4">
		      <img data-original="__IMG__/map/map05.jpg" alt="..." class="img-responsive">
		  </div>
		</div>
		<div class="row section-three">
			<div class="col-md-4 map-text">
				<div>
					<select name="" id="filterName" class="form-control">
						<option value="全国" selected="selected">全国</option>
						<option value="安徽">安徽</option>
						<option value="北京">北京</option>
						<option value="重庆">重庆</option>
						<option value="福建">福建</option>
						<option value="甘肃">甘肃</option>
						<option value="广东">广东</option>
						<option value="广西">广西</option>
						<option value="贵州">贵州</option>
						<option value="海南">海南</option>
						<option value="河北">河北</option>
						<option value="河南">河南</option>
						<option value="黑龙江">黑龙江</option>
						<option value="湖北">湖北</option>
						<option value="湖南">湖南</option>
						<option value="吉林">吉林</option>
						<option value="江苏">江苏</option>
						<option value="江西">江西</option>
						<option value="辽宁">辽宁</option>
						<option value="内蒙古">内蒙古</option>
						<option value="宁夏">宁夏</option>
						<option value="青海">青海</option>
						<option value="山东">山东</option>
						<option value="山西">山西</option>
						<option value="陕西">陕西</option>
						<option value="上海">上海</option>
						<option value="四川">四川</option>
						<option value="天津">天津</option>
						<option value="西藏">西藏</option>
						<option value="新疆">新疆</option>
						<option value="云南">云南</option>
						<option value="浙江">浙江</option>
					</select>
			    </div>
				<volist name="map" id="vo">
					<div class="map-address">
						<a href="#map"><i class="icon-map-marker"></i>  {$vo.name}</a>
						<p data-tel = "{$vo.telephone}" data-time = "{$vo.time}">地址：{$vo.address}</p>
					</div>
				</volist>
				
				        <!--要查询的地址：-->
				        <input id="text_" type="text" value="" style="margin-right:100px;" hidden="hidden"/>
				        <!--查询结果(经纬度)：-->
				        <input id="result_" type="text" hidden="hidden"/>
		       		<!--<input class="btn" type="button" value="查询"  hidden="hidden"/>-->
			</div>
			<div class="col-xs-12 col-md-7 col-md-offset-1">
		        <div id="map"></div>
		        <p id="map-tip">点击红点查看电话和营业时间</p>
			</div>
		</div>
	</div>
</div>


<include file="Common:foot" />

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar-nav li:eq(2)").addClass("active");
	
	//#map固定
	var elm = $('#map');
	var elm1 = $('#map-tip');
    var startPos = $(elm).offset().top;
    var startPos1 = $(elm1).offset().top;
    $.event.add(window, "scroll", function() {
        var p = $(window).scrollTop();
        $(elm).css('position',((p) > startPos) ? 'fixed' : 'relative');
        $(elm1).css('position',((p) > startPos) ? 'fixed' : 'relative');
        $(elm).css('top',((p) > startPos) ? '0px' : '');
        $(elm1).css('top',((p) > startPos) ? '510px' : '');
    });
    
    //地区搜索
    $("#filterName").change(function(){
    	if($(this).val()=="全国"){
    		$(".map-address").show();
    	}else{
		    $(".map-address").hide()
		        .filter(":contains('"+($(this).val())+"')").show();
        }
    });
    
    
	//将点击值传给地图查询函数
	$(".map-text a").click(function(){
		$("#text_").val($(this).text());
		var tel = $(this).next().data("tel");
		var time = $(this).next().data("time");
		searchByStationName(tel,time);
	});
})

//百度地图
var map = new BMap.Map("map");
    map.centerAndZoom("广州大学华软软件学院", 16);
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    
function searchByStationName(tel,time) {
    map.clearOverlays();//清空原来的标注
    var keyword = document.getElementById("text_").value;
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
        document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
        map.centerAndZoom(poi.point, 17);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
//      var content = document.getElementById("text_").value + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
        var content = document.getElementById("text_").value + "<br/><br/>电话：" + tel + "<br/>营业时间：" + time;
        var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
        marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
           marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
} 
  </script>

</body>
</html>