<title>常见问题-简家家居生活</title>
<include file="Common:head" />

<div class="question">
	<div class="container">
		<div class="row">
			<div class="cjwt-box">
				<img src="__IMG__/about/cjwt1.jpg" class="cjwt" alt="常见问题" />
				<h1>常见问题</h1>
			</div>
		</div>
		<div class="row question-box col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
			<h4>关于购物准备：</h4>
			<ul>
				<li>1、	我可以网络购物吗?</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>2、	怎样知道简单家商场的营业时间及地址？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>3、	如何确认产品的库存?</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>4、	为什么产品有时会缺货？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>5、	简家支持哪些付款方式？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>6、	简家提供送货服务吗？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>7、	简家提供组装服务吗？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
			</ul>
			<h4 style="margin-top: 40px;">关于产品退换：</h4>
			<ul>
				<li>1、	我可以退换产品吗？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>2、	我的产品有质量问题，怎么办？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>3、	我的产品没有组装图纸，怎么办？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>4、	我购买的产品缺少配件，怎么办？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
				<li>5、	我的产品退货后，如何查询银行卡退款信息？</li>
				<p>简家暂时无法提供网络订购或电话订购等销售方式，如果您需要购买简家产品，我们欢迎您来商场亲身体验简家的不同之处，拥有愉快的购物经历。不过，目前简家正在国外开展网上销售的试验，计划将来在更多的国家推出电子商务。</p>
			</ul>
		</div>
	</div>
</div>

<include file="Common:foot" />

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar-nav li:eq(4)").addClass("active");
	$(".question-box li").click(function(){
		$(this).next('p').slideToggle();
	})
});

</script>

</body>
</html>